<!DOCTYPE html>
<html lang="ru">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4 text-center">
  <h1>404</h1>
  <p>Leht ei leidnud</p>
  <a href="/" class="btn btn-primary">Avaleht</a>
</div>

<%- include('includes/footer') %>
</body>
</html>
