<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4">
  <h1>Kontakt</h1>
  <p>Võta meiega ühendust alloleva vormi kaudu.</p>
</div>

<%- include('includes/footer') %>
</body>
</html>
