<!DOCTYPE html>
<html lang="ru">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4">
  <h1>Контакт</h1>
  <p>Свяжитесь с нами через форму ниже.</p>
</div>

<%- include('includes/footer') %>
</body>
</html>
