<!DOCTYPE html>
<html lang="et">
<%- include('includes/head') %>
<body>
<%- include('includes/nav') %>

<div class="container my-4">
  <h1>Meist</h1>
  <p>Me hoolitseme loomade eest ja aitame neil leida uue kodu.</p>
</div>

<%- include('includes/footer') %>
</body>
</html>
